<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="test" connectionString="Data Source=34.69.201.4,1433;Network Library=
         DBMSSOCN;Initial Catalog=dbForReports;User ID=sqlserver;Password=!Qwertyqaz;"/>
    <add name="kino" connectionString="Data Source=34.69.201.4,1433;Network Library=
         DBMSSOCN;Initial Catalog=kino;User ID=sqlserver;Password=!Qwertyqaz;"/>
                   <!-- https://www.connectionstrings.com/sql-server/ -->
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>